header {
    background-color: #2c6b96;
    color: #e7ccb1;
    text-align: center;
    padding: 3.5vh;
    height: 15vh;
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.home-btn {
    background-color: #2c6b96;
    color: #e7ccb1;
    font-size: 36pt;
    position: absolute;
    top: 1.5vh;
    left: 3vw;
}

.home-btn:hover {
    color: #ce9e5b;
}

header .btn-primary {
    background-color: #2c6b96;
    color: #e7ccb1;
    border-color: #ce9e5b;
    border-width: 3px;
    width: 6vw;
    height: 5vh;
}

header .btn-primary:hover {
    background-color: #b5dcdd;
    color: #ce9e5b;
    border-color: #e7ccb1;
    border-width: 3px;
}

.overlay-btn {
    position: absolute;
    right: 3vw;
    top: 5vh;
    width: 2vw;
}

main {
    background-color: #e7ccb1;
    position: relative;
    top: 15vh;
}

main .btn-primary {
    background-color: #2c6b96;
    color: white;
    border-color: #2c6b96;
}

main .btn-primary:hover {
    background-color: #2c6b96;
    color: #e7ccb1;
    border-color: #ce9e5b;
}

.course-container {
    background-color: #b5dcdd;
    width: 40vw;
    padding: 3vh 4vw;
    text-align: left;
    margin: 3vh auto;
}

.course-card-img {
    float: left;
    width: 12vw;
    height: 14vh;
}

.error-text {
    color: red;
}

footer {
    background-color: #2c6b96;
    height: 6vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 3;
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 5;
    right: 0;
    top: 0;
    background-color: rgba(44,107,150, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 3vh;
}

.overlay a {
    padding: 0.8vh 0.4vw;
    text-decoration: none;
    font-size: 36px;
    color: #ce9e5b;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #e7ccb1;
}

.overlay .close-btn {
    position: absolute;
    top: 1.8vh;
    right: 2.3vw;
    font-size: 60px;
}

@media screen and (max-height: 41.6vh) {
    .overlay a {font-size: 20px;}
    .overlay .close-btn {
        font-size: 40px;
        top: 1.4vh;
        right: 1.8vw;
    }
}