main {
    background-color: #2c6b96;
    height: 125vh;
}

#create-course-form {
    width: 60vw;
    background-color: #b5dcdd;
    margin: auto;
    padding: 5vh 5vw;
}

#create-course-form > h2 {
    text-align: center;
    margin-bottom: 3vh;
}

.form-group {
    margin-bottom: 3vh;
}

#course-name-input {
    width: 50%;
}

textarea {
    width: 97.5%;
}

#course-location-input {
    width: 50%;
}