#stats-container {
    background-color: #b5dcdd;
    width: 90vw;
    margin: 0 auto;
    padding: 10vh 10vw;
}

#stats-container p {
    margin-bottom: 8vh;
}

#stats-size {
    display: flex;
    justify-content: space-between;
}

#notes-form {
    background-color: #b5dcdd;
    width: 90vw;
    height: 72vh;
    margin: 0 auto 5vh;
    padding: 2vh 10vw;
}

textarea {
    width: 97.5%;
}