main {
    background-color: #2c6b96;
    height: 79vh;
}

#login-form {
    width: 40vw;
    background-color: #b5dcdd;
    margin: auto;
    padding: 5vh 18vh;
}

#login-form > h2 {
    text-align: center;
    margin-bottom: 3vh;
}

.form-group {
    margin-bottom: 3vh;
}